.home-container { 
    background-color: #ff7b9cff;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 100px;
    padding: 100px;
    border-radius: 20px;
    border: 5px solid #ffc759ff;
}

.home-image img{
    float: left; 
    border-radius: 50%;
    width: 500px; 
    height: 650px;
    margin: 10px;
    padding: 10px;
}

.home-text h1, h3, a { 
    margin: 10px; 
    padding: 10px;
}

.home-text h1{ 
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
    color: #000000;
}

.home-text h3 { 
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #000000;
}

.home-text .btn-custom{ 
    background-color: #babfd1ff;
    border: 2px solid #babfd1ff;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-text .btn-custom:hover{ 
    background-color: #e8e9edff;
    border: 2px solid #e8e9edff;
    color: #000000;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

