/* DO NOT CALL THIS CSS SHEET IN ANY HTML FILE, IT WILL NOT COMPILE
    THIS IS A REFERENCE SHEET FOR COLORS */

/* CSS HEX */
--xanthous: #ffc759ff;
--rose-pompadour: #ff7b9cff;
--glaucous: #607196ff;
--french-gray: #babfd1ff;
--antiflash-white: #e8e9edff;
